%ul.nav.nav-tabs
	%li.active
		%a{:href => "/admin"} 
			%i.icon-book
			Escolas
	%li
		%a{:href => "/admin/monitores"} 
			%i.icon-user
			Monitores
	%li
		%a{:href => "/admin/coletas"}
			%i.icon-list
			Coletas