#slides.carousel.slide
  %ol.carousel-indicators
    - i = 0
    - @noticias.each do |n|
      - if i == 0
        %li.active{"data-slide-to" => i, "data-target" => "#slides"}
      - else
        %li{"data-slide-to" => i, "data-target" => "#slides"}
      - i=+1
  .carousel-inner
    - i = 0
    - @noticias.each do |n|
      - c = i==0 ? 'active' : '' 
      - i=+1
      .item{:class=>c}
        %h4
          %i.icon-comments
          = n.titulo
        %p
          %i.icon-time
          = format n.created_at
        %p.center
          = image_tag n.imagem :thumb if n.imagem.path
        #noticia
          = n.texto.html_safe

  %a.left.carousel-control{"data-slide" => "prev", :href => "#slides"} ‹
  %a.right.carousel-control{"data-slide" => "next", :href => "#slides"} ›


:javascript
  $('.carousel').carousel({interval: 0})
