- unless @noticia.empty?
  %table.table.table-striped
    %thead
      %tr
        %th Data
        %th Título
        %th
    %tbody
      - @noticia.each do |p|
        %tr
          %td{:style=>"width: 70px"}= format p.created_at
          %td= link_to p.titulo, p
          %td{:style=>"width:85px"}
            %a{:href=>edit_noticium_path(p), :class => 'btn btn-primary'} 
              %i.icon-edit

            = link_to '<i class="icon-trash"></i>'.html_safe, noticium_path(p), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Quer mesmo excluir a Notícia e todos seus dados?')) }, :class => 'btn btn-danger'
    %br
 
= link_to 'Novo', new_noticium_path, :class => 'btn btn-primary'
