%h4
	%i.icon-comments
	= @noticium.titulo
%p
	%i.icon-time
	= formata_data @noticium.created_at
%p.center
	= image_tag @noticium.imagem :thumb if @noticium.imagem.path
#noticia
	= @noticium.texto.html_safe